$secondary-color: rgb(27, 26, 26);
.icon{
  font-size: 50px !important;
  color: blue !important;
  padding: 0 !important;
}
.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 50px;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h5 {
      color: blue;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &-photos {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 20px;
    background-color: white;
    padding: 20px;

    .photo {
      height: 300px !important;
      width: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
  &-buttons {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    button {
      padding: 5px 20px;
    }
    .photo-btn {
      border: 1px solid blue;
      background-color: blue;
      color: white;
    }
    .facility-btn {
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      color: white;
    }
  }
}
.services {
  display: flex;
  background-color: #f5f5f5;
  height: 700px;
  padding-top: 50px;
  &-list {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center;
    .image {
      display: flex;
      width: 100%;
      height: 90%;
      justify-content: center !important;
      margin: auto !important;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;
      }
    }
    .text {
      position: absolute !important;
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 100px;
      padding-left: 100px;
      padding-right: 50px;
      padding-bottom: 100px;

      background-color: rgb(27, 26, 26, 0.9);
      &-header {
        display: flex;
        flex-direction: column;
        h5 {
          color: blue;
          text-transform: uppercase;
        }
        h3 {
          color: white;
        }
      }
      &-body {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        h5 {
          list-style: none;
          color: white;
        }
      }
      &-button{
        display: flex;
        justify-content: end;
        button{
          padding: 5px 10px;
          border: 1px solid blue;
          background-color: blue;
          color: white;
        }
      }
    }
  }
  &-picture {
    width: 50%;
    background: linear-gradient(to right, blue 70%, #f5f5f5 30%);
    display: flex;
    justify-content: center;
    .image {
      width: 90%;
      height: 90%;
      margin: auto !important;
      justify-content: center !important;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    // background-image: url(../public/images/firdaus-right.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }
}
.admission {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;
    h5 {
      text-transform: uppercase;
    }
    h3 {
      color: blue;
    }
  }
  &-body {
    display: flex;
    p {
      width: 60%;
      margin: auto;
      text-align: center;
    }
  }
  &-buttons {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    button {
      padding: 5px 20px;
    }
    .start-btn {
      border: 1px solid blue;
      background-color: blue;
      color: white;
    }
    .cont-btn {
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      color: white;
    }
  }
}
.cover {
  background-color: #f5f5f5;
}
.offers {
  width: 100%;
  background-image: url(../public/images/back.png);
  background-color: rgb(238, 241, 248);
  background-repeat: no-repeat;
background-size: contain;
  background-position: right !important;

  .cover{
background: transparent !important;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
  &-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    .header {
      display: flex;
      flex-direction: column;
      h5 {
        color: blue;
      }
    }
  }
  &-right {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .card {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 0 !important;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background: transparentize($color: #fff, $amount: 0.2);
      &-image {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        height: 100%;
        padding: 20px;
        img {
          width: 100%;
          height: 30%;
        }
      }
      &-text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 70%;
      }
    }
  }
}
.news {
  background-color: #ffff;
padding-top: 50px;
padding-bottom: 50px;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
      color: blue;
    }
  }
  &-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #f5f5f5;
      border: 0 !important;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      // padding: 10px;
      gap: 10px;
      &-image {
       width: 30%;
       height: 100%;
       border-right: 4px solid #fff;
       padding: 10px;
       img{
        height: 100%;
width: 100%;       }
      }
      &-text {
        width: 70%;
        text-align: left;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
    }
  }
  &-button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    button {
      padding: 5px 20px;
      border: 1px solid blue;
      background-color: blue;
      color: white;
    }
  }
}
.testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      justify-content: center;
      display: block;
    }
  }
  &-text {
    padding: 20px;
    color: white !important;
    p {
      text-align: center;
      width: 70%;
      margin: auto !important;
      color: white;
    }
  }
}
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: rgb(27, 26, 26, 0.9);
.wrapper{
  width: 90%;
  margin: auto;
  background: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
}

  .header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    h3{
      color: #fff;
    }
    h5{
      color: blue;
    }
  }

  .carousel {
    // display: flex;
    width: 100%;
    text-align: center;
    a {
      background: transparent;
      padding: 0 !important;
    }
    &-inner {
      padding-bottom: 40px;
    }

    &-indicators {
      gap: 10px;
      margin-top: 20px !important;
      .active {
        background-color: blue !important;
      }
      li {
        list-style: none;
        padding: 2px 10px;
        background-color: #f5f5f5;
      }
    }
  }
}
.base{
  background-image: url("../public/images/photo (3).png");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  width: 100%;
  background-color: rgb(27, 26, 26);
  padding-top: 50px;
  .wrapper {
    gap: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white !important;
    ul{
      padding: 0 !important;
      li{
        list-style: none;
      }
    }
  }
  &-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center !important;
    .map {
      display: flex;
      flex-direction: row;
  background-color: rgb(27, 26, 26,0.9);
  align-items: center !important;
  gap: 10px;
  

    }
    .call {
      display: flex;
      flex-direction: column;
    align-items: center !important;

    }
    .appointment {
      display: flex;
      flex-direction: row;
  background-color: rgb(27, 26, 26,0.9);
  align-items: center !important;
  gap: 10px;


    }
  }
  &-middle {
    a{
      text-decoration: none;
    }
    padding-top: 20px;
    height: auto !important;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 30px;
    .section {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      .header{
        height: 10%;
      }
      .links{
        height: 100%;
        justify-content: space-between;
      }
      p{
        border-bottom: 1px solid gray;
        padding-bottom: 10px !important;
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.welcome{
    width: 100%;
    &-header{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .wrapper{
        width: 90%;
        margin: auto;
        height: 600px;
        display: flex;
        flex-direction: row;
    }
    &-left{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        background: linear-gradient(to right, blue 70%, #ffff 30%);
        .image{
            height: 90%;
            width: 90%;
            margin: auto;
            img{
                object-fit: contain;
            display: block;
            height: 100%;
            width: 100%;
            }
        }
    }
    &-right{
      text-align: left;
        width: 50%;
        display: flex;
        flex-direction: column;
        h3{
          color: blue;
        }
        .text{
          width: 90%;
        }
        .body{
          width: 90%;
          display: flex;
          gap: 20px;
          flex-direction: column;
          .card{
height: 100px;
width: auto;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
&-image{
  width: 30%;
  border: 1px solid red;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display:block;
  }
}
&-text{
  width: 70%;
}
          }
        }
        .end{
          display: flex;
          flex-direction: row;
          width: 70%;
          gap: 20px;
        }
    }
}
