.icon {
  font-size: 50px !important;
  color: blue !important;
  padding: 0 !important;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 50px;
}
.gallery-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.gallery-header h5 {
  color: blue;
  font-weight: 500;
  text-transform: uppercase;
}
.gallery-photos {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 20px;
  background-color: white;
  padding: 20px;
}
.gallery-photos .photo {
  height: 300px !important;
  width: auto;
}
.gallery-photos .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.gallery-buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.gallery-buttons button {
  padding: 5px 20px;
}
.gallery-buttons .photo-btn {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}
.gallery-buttons .facility-btn {
  border: 1px solid rgb(27, 26, 26);
  background-color: rgb(27, 26, 26);
  color: white;
}

.services {
  display: flex;
  background-color: #f5f5f5;
  height: 700px;
  padding-top: 50px;
}
.services-list {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.services-list .image {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center !important;
  margin: auto !important;
  position: absolute;
}
.services-list .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: relative;
}
.services-list .text {
  position: absolute !important;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 100px;
  background-color: rgba(27, 26, 26, 0.9);
}
.services-list .text-header {
  display: flex;
  flex-direction: column;
}
.services-list .text-header h5 {
  color: blue;
  text-transform: uppercase;
}
.services-list .text-header h3 {
  color: white;
}
.services-list .text-body {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}
.services-list .text-body h5 {
  list-style: none;
  color: white;
}
.services-list .text-button {
  display: flex;
  justify-content: end;
}
.services-list .text-button button {
  padding: 5px 10px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
}
.services-picture {
  width: 50%;
  background: linear-gradient(to right, blue 70%, #f5f5f5 30%);
  display: flex;
  justify-content: center;
}
.services-picture .image {
  width: 90%;
  height: 90%;
  margin: auto !important;
  justify-content: center !important;
}
.services-picture .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.admission {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.admission-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
}
.admission-header h5 {
  text-transform: uppercase;
}
.admission-header h3 {
  color: blue;
}
.admission-body {
  display: flex;
}
.admission-body p {
  width: 60%;
  margin: auto;
  text-align: center;
}
.admission-buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.admission-buttons button {
  padding: 5px 20px;
}
.admission-buttons .start-btn {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}
.admission-buttons .cont-btn {
  border: 1px solid rgb(27, 26, 26) !important;
  background-color: rgb(27, 26, 26) !important;
  color: white !important;
}

.cover {
  background-color: #f5f5f5;
}

.offers {
  width: 100%;
  background-image: url(../public/images/back.png);
  background-color: rgb(238, 241, 248);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right !important;
}
.offers .cover {
  background: transparent !important;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
.offers-left {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.offers-left .header {
  display: flex;
  flex-direction: column;
}
.offers-left .header h5 {
  color: blue;
}
.offers-right {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.offers-right .card {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(255, 255, 255, 0.8);
}
.offers-right .card-image {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 20px;
}
.offers-right .card-image img {
  width: 100%;
  height: 30%;
}
.offers-right .card-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.news {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.news .wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.news-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-header h5 {
  color: blue;
}
.news-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.news-body .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5;
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 10px;
}
.news-body .card-image {
  width: 30%;
  height: 100%;
  border-right: 4px solid #fff;
  padding: 10px;
}
.news-body .card-image img {
  height: 100%;
  width: 100%;
}
.news-body .card-text {
  width: 70%;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.news-button {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.news-button button {
  padding: 5px 20px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

.testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimony-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimony-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  display: block;
}
.testimony-text {
  padding: 20px;
  color: white !important;
}
.testimony-text p {
  text-align: center;
  width: 70%;
  margin: auto !important;
  color: white;
}

.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: rgba(27, 26, 26, 0.9);
}
.testimonials .wrapper {
  width: 90%;
  margin: auto;
  background: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.testimonials .header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.testimonials .header h3 {
  color: #fff;
}
.testimonials .header h5 {
  color: blue;
}
.testimonials .carousel {
  width: 100%;
  text-align: center;
}
.testimonials .carousel a {
  background: transparent;
  padding: 0 !important;
}
.testimonials .carousel-inner {
  padding-bottom: 40px;
}
.testimonials .carousel-indicators {
  gap: 10px;
  margin-top: 20px !important;
}
.testimonials .carousel-indicators .active {
  background-color: blue !important;
}
.testimonials .carousel-indicators li {
  list-style: none;
  padding: 2px 10px;
  background-color: #f5f5f5;
}

.base {
  background-image: url("../public/images/photo-3.png");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  width: 100%;
  background-color: rgb(27, 26, 26);
  padding-top: 50px;
}
.footer .wrapper {
  gap: 30px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white !important;
}
.footer .wrapper ul {
  padding: 0 !important;
}
.footer .wrapper ul li {
  list-style: none;
}
.footer-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center !important;
}
.footer-top .map {
  display: flex;
  flex-direction: row;
  background-color: rgba(27, 26, 26, 0.9);
  align-items: center !important;
  gap: 10px;
}
.footer-top .call {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
.footer-top .appointment {
  display: flex;
  flex-direction: row;
  background-color: rgba(27, 26, 26, 0.9);
  align-items: center !important;
  gap: 10px;
}
.footer-middle {
  padding-top: 20px;
  height: auto !important;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 30px;
}
.footer-middle a {
  text-decoration: none;
}
.footer-middle .section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.footer-middle .section .header {
  height: 10%;
}
.footer-middle .section .links {
  height: 100%;
  justify-content: space-between;
}
.footer-middle .section p {
  border-bottom: 1px solid gray;
  padding-bottom: 10px !important;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  text-align: center;
}

.welcome {
  width: 100%;
}
.welcome-header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.welcome .wrapper {
  width: 90%;
  margin: auto;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.welcome-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, blue 70%, white 30%);
}
.welcome-left .image {
  height: 90%;
  width: 90%;
  margin: auto;
}
.welcome-left .image img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  height: 100%;
  width: 100%;
}
.welcome-right {
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.welcome-right h3 {
  color: blue;
}
.welcome-right .text {
  width: 90%;
}
.welcome-right .body {
  width: 90%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.welcome-right .body .card {
  height: 100px;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.welcome-right .body .card-image {
  width: 30%;
  height: 100%;
}
.welcome-right .body .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.welcome-right .body .card-text {
  width: 70%;
}
.welcome-right .end {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */